@color_1: white;
@color_2: blue;
@color_3: #00FFFF;
@background_color_1: rgb(212, 209, 209);
@background_color_2: rgb(121, 0, 121);
@background_color_3: rgb(211, 2, 211);
@background_color_4: green;
@background_color_5: red;

.title {
	background: linear-gradient(to right,#602060,#FF00FF,#df9fdf);
	text-align: center;
	font-size: 2em;
}
.item {
	display: inline-block;
}
.topmenu {
	text-align: center;
	margin-left: 3em;
	margin-right: 3em;
	background: rgb(88, 1, 88);
	border-radius: 25px 25px 25px 25px;
	padding: 10px;
	word-spacing: 1em;
	>.item { &: nth-child(n+0) { color: white;
	background: rgb(121, 0, 121);
}
& {
	&:nth-child(2n&+0) {
		color: @color_1;
		background: rgb(160, 5, 160);
	}
	&:nth-child(3n&+0) {
		color: @color_1;
		background: rgb(211, 2, 211);
	}
	&:hover {
		background-color: @background_color_1;
	}
}
} {
	} {
		.subItem {
			display: none;
			&: hover { color: red;
			font-weight: bold;
		}
		} {
			h2 {
				display: block;
				margin-right: 80%;
				font-size: 24px;
				font-weight: bold;
			}
			.mon {
				width: 90%;
				padding-right: 5%;
				color: @color_3;
				background: linear-gradient(to right,#3d013d,#740074,#3d013d);
			}
		}
	}
	.sidebar {
		>.item { &: hover { >.subItem { display: block;
		padding-left: 30px;
		font-weight: bold;
		display: none;
	}
}
font-weight {
	&: {
		bold; {
			} {
				display {
					&: {
						block; {
							} {
								grid-area {
									&: {
										menu; {
											background-color {
												&: {
													rgb(121 {
														display: flex;
														background-color: @background_color_2;
														border: 3px black;
														flex-flow: wrap;
														flex-direction: column;
														width: 15%;
														border-radius: 25px 25px 25px 25px;
														padding: 5px 10px;
														background: linear-gradient(to right,#740074 ,#3d013d);
														margin: 2px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
0 {
	display: flex;
	background-color: @background_color_2;
	border: 3px black;
	flex-flow: wrap;
	flex-direction: column;
	width: 15%;
	border-radius: 25px 25px 25px 25px;
	padding: 5px 10px;
	background: linear-gradient(to right,#740074 ,#3d013d);
	margin: 2px;
}
121); {
	width {
		&: {
			100%; {
				padding {
					&: {
						10px; {
							border-top-left-radius {
								&: {
									25px; {
										border-bottom-left-radius {
											&: {
												25px; {
													} {
														.mon {
															display: flex;
															background-color: @background_color_2;
															border: 3px black;
															flex-flow: wrap;
															flex-direction: column;
															width: 15%;
															border-radius: 25px 25px 25px 25px;
															padding: 5px 10px;
															background: linear-gradient(to right,#740074 ,#3d013d);
															margin: 2px;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.flexbottom {
	background-color: @background_color_3;
	flex-flow: wrap;
	display: flex;
	flex-direction: row;
	width: 98.2%;
	position: static;
	padding: 10px;
	grid-area: bottom;
	>.mon { >div { &: nth-child(1) { font-weight: bold;
	flex-direction: column;
	>.mon { >div { &: nth-child(1) { font-weight: bold;
	color: @color_2;
}
.bargraph {
	display: inline-grid;
	grid-area: graph;
	background-color: @background_color_2;
	grid-template-columns: auto auto auto auto;
	padding: 0;
	display: block;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.bar1 {
	height: 250px;
	width: 80px;
	margin-top: 41%;
	background-color: @background_color_4;
	height: 20px;
	width: 330px;
	margin-top: 20px;
	background-color: @background_color_5;
}
.bar2 {
	height: 200px;
	width: 80px;
	margin-top: 61%;
	background-color: @background_color_4;
	height: 20px;
	width: 230px;
	margin-top: 20px;
	background-color: @background_color_5;
}
.bar3 {
	height: 320px;
	width: 80px;
	margin-top: 13%;
	background-color: @background_color_4;
	height: 20px;
	width: 500px;
	margin-top: 20px;
	background-color: @background_color_5;
}
.bar4 {
	height: 150px;
	width: 80px;
	margin-top: 81%;
	background-color: @background_color_4;
	background-color: @background_color_5;
	height: 20px;
	margin-top: 20px;
	width: 140px;
}
.container {
	display: grid;
	grid-template-areas: 'menu menu menu menu graph graph graph graph' 'menu menu menu menu bottom bottom bottom bottom';
	display: grid;
	grid-template-areas: ' graph graph graph graph' ' bottom bottom bottom bottom';
}
h2 {
	width: 100%;
}
@media only screen and (max-width:814px) {
	.item {
		display: block;
	}
	.topmenu {
		background: none;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
		padding: 0;
		text-align: left;
		height: 100%;
		>.item { &: nth-child(odd) { color: white;
		background: rgb(121, 0, 121);
	}
	& {
		&:nth-child(even) {
			color: @color_1;
			background: rgb(160, 5, 160);
		}
		&:hover {
			background-color: @background_color_1;
		}
	}
}
