div{
    display:inline-grid;
    color:rgb(45, 80, 114);
   width:170px;
   height:140px;
   background:#F8FAD6;
   border:0.2px solid rgb(45, 80, 114);
}
h3{
    text-align: left;
    font-size: large;
}
a{
    color:blue;
    text-decoration: underline;
}
a:hover{
    color:purple;
    text-decoration: underline;
}
a:visited{
    color:palevioletred;
    text-decoration: underline;
}