﻿#wrappper {
    display: flex;
    width:70%;
    height:auto;
    background-color:slategrey;
    text-align:center;

}

h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: double yellow;
    height:auto;
    width:auto;
    color:white;
    border-style: inset;
}
td{
    width:auto;
    padding:15px;
    line-height:3em;
    text-align: center;
}
h3{
    text-align:center;
    height:auto;
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    font-style:italic;
    padding-left:40px;
    padding-right:40px;
    border-bottom: double yellow;;
    border-top: double yellow;
    
}
h4{
    text-align:center;
    height:auto;
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    font-style:italic;
    padding-left:40px;
    padding-right:40px;
    border-bottom: double #526981;;
    border-top: double #526981;

}
p{
    padding:15px;
    line-height:3em;
}
.contact{
    height:auto;
    background-color:yellow;
    padding-left:40px;
    padding-right:40px;
    margin-left:1px;
    width:auto;
    color:#485F77;
   
}
li{
    line-height:3em;
    list-style:none;
}
img {
    border-radius: 50%;
    padding-top:40px;
}
.container{
width:auto;
background-color:#526981;
color:white;
}
strong{
    color:yellow;
}
 footer{
     width:70%;
     text-align: center;
     background-color:yellow;
     line-height:2em;
 }
 a{
     color:#526981;
 }
 b{
     color:#7A91A9;
 }