
ul li{
list-style: none;
display:inline;
}

ul{
    margin:0px;
    padding:0px;
}
#button{
   display: inline-block;
   vertical-align:middle;
   width:20px;
   height:15px;
   margin:20px;
   position: absolute;;
   transform-origin: 0 10px;
   transform: rotate(0deg);
   text-align: right;
   transition: left transform 1s;
   right:-60px;
}
#button span{
    color:red;
    display:block;
}

#button.upward{
    transform-origin: 0 10px;
    transform: rotate(-40deg);
    transition: transform 1s;
}

#sidebar{
    position: absolute;
    left:-200px;
    top:0px;
    transition: left 0.3s linear;
}

#sidebar.visible{
    left:0px;
    transition: left 0.3s linear;
}
.content{
    padding: 60px 20px
}